@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "@heroui/styles";


/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes variables users need to customize
 * @see https://heroui.com/docs/react/getting-started/theming
 */

 @layer base {
  h1 {
    @apply text-3xl lg:text-4xl font-semibold;
  }
  h2 {
    @apply text-2xl lg:text-2xl font-semibold;
  }
  h3 {
    @apply text-lg lg:text-xl font-medium;
  }
  p{
    @apply text-base font-light
  }
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(61.57% 0.2007 257.64);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(95.94% 0.020 250.38);
  --border: oklch(90.00% 0.0132 257.64);
  --danger: oklch(65.32% 0.2389 26.20);
  --light-foreground: oklch(67.64% 0.00008 271.152);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0132 257.64);
  --default-foreground: oklch(21.03% 0.0059 257.64);
  --field-background: oklch(100.00% 0.0066 257.64);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0132 257.64);
  --field-placeholder: oklch(55.17% 0.0264 257.64);
  --focus: oklch(61.57% 0.2007 257.64);
  --foreground: oklch(21.03% 0.0132 257.64);
  --muted: oklch(55.17% 0.0264 257.64);
  --overlay: oklch(100.00% 0.0040 257.64);
  --overlay-foreground: oklch(21.03% 0.0132 257.64);
  --scrollbar: oklch(87.10% 0.0132 257.64);
  --segment: oklch(100.00% 0.0132 257.64);
  --segment-foreground: oklch(21.03% 0.0132 257.64);
  --separator: oklch(92.00% 0.0132 257.64);
  --success: oklch(73.29% 0.1986 151.27);
  --success-foreground: oklch(21.03% 0.0059 151.27);
  --surface: oklch(100.00% 0.0066 257.64);
  --surface-foreground: oklch(21.03% 0.0132 257.64);
  --surface-secondary: oklch(95.24% 0.0106 257.64);
  --surface-secondary-foreground: oklch(21.03% 0.0132 257.64);
  --surface-tertiary: oklch(81.349% 0.00912 264.588);
  --surface-tertiary-foreground: oklch(21.03% 0.0132 257.64);
  --warning: oklch(78.19% 0.1627 72.79);
  --warning-foreground: oklch(21.03% 0.0059 72.79);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Geist font in your app */
  --font-sans: "Geist";
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(61.57% 0.2007 257.64);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12.00% 0.0132 257.64);
  --border: oklch(28.00% 0.0132 257.64);
  --danger: oklch(59.40% 0.2019 25.09);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0132 257.64);
  --light-foreground: oklch(67.64% 0.00008 271.152);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0264 257.64);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0132 257.64);
  --field-placeholder: oklch(70.50% 0.0264 257.64);
  --focus: oklch(61.57% 0.2007 257.64);
  --foreground: oklch(99.11% 0.0132 257.64);
  --muted: oklch(70.50% 0.0264 257.64);
  --overlay: oklch(21.03% 0.0264 257.64);
  --overlay-foreground: oklch(99.11% 0.0132 257.64);
  --scrollbar: oklch(70.50% 0.0132 257.64);
  --segment: oklch(39.64% 0.0132 257.64);
  --segment-foreground: oklch(99.11% 0.0132 257.64);
  --separator: oklch(25.00% 0.0132 257.64);
  --success: oklch(73.29% 0.1986 151.27);
  --success-foreground: oklch(21.03% 0.0059 151.27);
  --surface: oklch(21.03% 0.0264 257.64);
  --surface-foreground: oklch(99.11% 0.0132 257.64);
  --surface-secondary: oklch(25.70% 0.0198 257.64);
  --surface-secondary-foreground: oklch(99.11% 0.0132 257.64);
  --surface-tertiary: oklch(27.21% 0.0198 257.64);
  --surface-tertiary-foreground: oklch(99.11% 0.0132 257.64);
  --warning: oklch(82.03% 0.1425 76.80);
  --warning-foreground: oklch(21.03% 0.0059 76.80);
}

@theme inline {
  --color-light-foreground: var(--light-foreground);
}